<header class="bg-primary text-white flex items-center pt-4 py-md-4">
  <div class="container-md flex flex-col justify-between flex-md-row">
    <img class="header__logo"
      src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true" alt="logo">
    <nav class="flex text-xl">
      <ul class=" flex flex-wrap text-center w-100vw w-md-auto items-center gap-0 gap-md-16">
        <li class="w-1/2 w-md-auto header__mobile-link ">
          <a href="#">系列鏡框</a>
        </li>
        <li class="w-1/2 w-md-auto header__mobile-link">
          <a href="./store.html">門市據點</a>
        </li>
        <li class="w-1/2 w-md-auto header__mobile-link">
          <a href="#">部落格</a>
        </li>
        <li class="w-1/2 w-md-auto header__mobile-link">
          <a href="./question.html">常見問題</a>
        </li>
      </ul>
    </nav>
  </div>
</header>