<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>部落格</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <main>
      <nav class="bg-secondary py-13px hidden block-md">
        <div class="container flex justify-between items-center">
          <ul class="text-white text-xl flex gap-12">
            <li><a href="#">最新消息</a></li>
            <li><a href="#">特別企劃</a></li>
            <li><a href="#">新品上市</a></li>
            <li><a href="#">鏡框小知識</a></li>
          </ul>
          <button type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" fill="white" class="bi bi-search"
              viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
          </button>
          </svg>
        </div>
      </nav>

      <div class="container pt-10 pt-md-24 pb-16 pb-md-20">
        <h1 class="heading-1 mb-6 mb-md-8">部落格</h1>
        <ul class="flex flex-col gap-y-6 gap-y-lg-15">
          <li>
            <article>
              <div class="row gap-y-2">
                <div class="col-12 col-md-6">
                  <img class="img-fluid"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blog-1.png?raw=truebl"
                    alt="blog-1">
                </div>
                <div class="col-12 col-md-6">
                  <div class="flex flex-col h-full text-base text-lg-xl">
                    <h2 class="text-secondary text-2xl text-lg-8">情人特別企劃</h2>
                    <div class="flex justify-between items-center mb-1 mb-lg-4 text-black fw-medium">
                      <p>2020 Valentine’s Special</p>
                      <time class="text-base opacity-0.7">2020/02/14</time>
                    </div>
                    <div class="hidden block-md flex-auto">
                      <a href="#">
                        <p class="text-gray-4 hidden-lg">
                          一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！即日起至2/16為止，不論是熱戀情侶、自由自在一個人或是老夫老妻⋯⋯more
                        </p>
                      </a>
                      <div class="hidden flex-lg flex-col h-full">
                        <p class="text-gray-4">
                          一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                          即日起至2/16為止，不論是熱戀情侶、自由自在一個人或是老夫老妻，只要從未來過本店的新朋友，綁定官方LINE好友，都可享專屬優惠⋯⋯</p>
                        <a href="#" class="mt-auto self-end fw-black text-secondary text-9">MORE</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </li>
          <li>
            <article>
              <div class="row gap-y-2">
                <div class="col-12 col-md-6">
                  <img class="img-fluid"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blog-2.png?raw=truebl"
                    alt="blog-2">
                </div>
                <div class="col-12 col-md-6">
                  <div class="flex flex-col h-full text-base text-lg-xl">
                    <h2 class="text-secondary text-2xl text-lg-8">街頭潮人訪問</h2>
                    <div class="flex justify-between items-center mb-1 mb-lg-4 text-black fw-medium">
                      <p>Street Interview</p>
                      <time class="text-base opacity-0.7">2020/02/02</time>
                    </div>
                    <div class="hidden block-md  flex-auto">
                      <a href="#">
                        <p class="text-gray-4 hidden-lg">
                          炎熱的夏季裡，衣著選擇經常希望以簡潔的風格為主，但有時單純只穿搭 T
                          恤或短袖開襟襯衫，又覺得整體造型度有點不足嗎？那麼不妨可以透過「配件」，為穿搭點綴出與眾不同的視覺層次，而本季有哪些必備的配件系列呢？一起從以下推薦的 3 款單品，讓你瞬間帥氣⋯⋯more
                        </p>
                      </a>
                      <div class="hidden flex-lg flex-col h-full">
                        <p class="text-gray-4">
                          炎熱的夏季裡，衣著選擇經常希望以簡潔的風格為主，但有時單純只穿搭 T
                          恤或短袖開襟襯衫，又覺得整體造型度有點不足嗎？那麼不妨可以透過「配件」，為穿搭點綴出與眾不同的視覺層次，而本季有哪些必備的配件系列呢？一起從以下推薦的 3
                          款單品，讓你瞬間帥氣爆棚散發型男品味⋯⋯ </p>
                        <a href="#" class="mt-auto self-end fw-black text-secondary text-9">MORE</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </li>
          <li>
            <article>
              <div class="row gap-y-2">
                <div class="col-12 col-md-6">
                  <img class="img-fluid"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blog-3.png?raw=truebl"
                    alt="blog-3">
                </div>
                <div class="col-12 col-md-6">
                  <div class="flex flex-col h-full text-base text-lg-xl">
                    <h2 class="text-secondary text-2xl text-lg-8">春季新品上市</h2>
                    <div class="flex justify-between items-center mb-1 mb-lg-4 text-black fw-medium">
                      <p>New Selection</p>
                      <time class="text-base opacity-0.7">2020/02/02</time>
                    </div>
                    <div class="hidden block-md  flex-auto">
                      <a href="#">
                        <p class="text-gray-4 hidden-lg">
                          一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！即日起至2/16為止，不論是熱戀情侶、自由自在一個人或是老夫老妻⋯⋯more
                        </p>
                      </a>
                      <div class="hidden flex-lg flex-col h-full">
                        <p class="text-gray-4">
                          2020
                          年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式⋯⋯
                        </p>
                        <a href="#" class="mt-auto self-end fw-black text-secondary text-9">MORE</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </li>
          <li>
            <article>
              <div class="row gap-y-2">
                <div class="col-12 col-md-6">
                  <img class="img-fluid"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blog-4.png?raw=truebl"
                    alt="blog-4">
                </div>
                <div class="col-12 col-md-6">
                  <div class="flex flex-col h-full text-base text-lg-xl">
                    <h2 class="text-secondary text-2xl text-lg-8">設計師獨享鏡框優惠</h2>
                    <div class="flex justify-between items-center mb-1 mb-lg-4 text-black fw-medium">
                      <p>Sales for Designer</p>
                      <time class="text-base opacity-0.7">2020/01/18</time>
                    </div>
                    <div class="hidden block-md  flex-auto">
                      <a href="#">
                        <p class="text-gray-4 hidden-lg">
                          2020
                          年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，⋯⋯mores
                        </p>
                      </a>
                      <div class="hidden flex-lg flex-col h-full">
                        <p class="text-gray-4">
                          2020
                          年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式⋯⋯
                        </p>
                        <a href="#" class="mt-auto self-end fw-black text-secondary text-9">MORE</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </li>
          <li>
            <article>
              <div class="row gap-y-2">
                <div class="col-12 col-md-6">
                  <img class="img-fluid"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blog-5.png?raw=truebl"
                    alt="blog-5">
                </div>
                <div class="col-12 col-md-6">
                  <div class="flex flex-col h-full text-base text-lg-xl">
                    <h2 class="text-secondary text-2xl text-lg-8">抵抗夏日大作戰</h2>
                    <div class="flex justify-between items-center mb-1 mb-lg-4 text-black fw-medium">
                      <p>Summer Special</p>
                      <time class="text-base opacity-0.7">2019/08/07</time>
                    </div>
                    <div class="hidden block-md  flex-auto">
                      <a href="#">
                        <p class="text-gray-4 hidden-lg">
                          2020
                          年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，⋯⋯more
                        </p>
                      </a>
                      <div class="hidden flex-lg flex-col h-full">
                        <p class="text-gray-4">
                          2020
                          年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式⋯⋯
                        </p>
                        <a href="#" class="mt-auto self-end fw-black text-secondary text-9">MORE</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </li>
        </ul>
        <div class="pagination">
          <a href="#" class="pagination__prev">上一頁</a>
          <ol>
            <li><a href="#" class="pagination__number">1</a></li>
            <li><a href="#" class="pagination__number pagination__number--active">2</a></li>
            <li><a href="#" class="pagination__number">3</a></li>
            <li><a href="#" class="pagination__number">4</a></li>
            <li><a href="#" class="pagination__number">5</a></li>
          </ol>
          <a href="#" class="pagination__next">下一頁</a>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
</body>

</html>