<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <main>
      <section class="relative">
        <picture>
          <source
            srcset="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true"
            media="(max-width: 576px)" />
          <img class="relative w-full img-fluid z-0"
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true"
            alt="home-header" />
        </picture>
        <div class="absolute top-0 left-0 h-full w-full">
          <div class="container h-full flex  justify-end items-center">
            <div class="text-right">
              <h1 class="text-secondary flex flex-col text-24px text-md-16 mb-1">
                <span class="text-16px text-md-8">Promise-Desert 2020 早春系列</span>
                <span class="fw-bold"> 看得清，才能看得遠</span>
              </h1>
              <a class="btn btn--primary text-xl" href="#">立即購買</a>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-gray-1 py-10 py-md-20">
        <div class="container text-center  text-secondary fw-bold">
          <h2 class="text-24px text-md-5xl mb-6">用專業的心，做專業的事</h2>
          <ul class="row gap-y-6">
            <li class="col-12 col-md-6 col-lg-3" data-aos="fade-up">
              <div>
                <img class="specialty-icon mb-4"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-1.png?raw=true"
                  alt="home-section2-1">
                <h3 class="text-2xl mb-2">單一價格</h3>
                <p class="text-left text-black fw-normal">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
              </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3" data-aos="fade-up">
              <div>
                <img class="specialty-icon mb-4"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-2.png?raw=true"
                  alt="home-section2-2">
                <h3 class="text-2xl mb-2">20 分鐘即可取件</h3>
                <p class="text-left text-black fw-normal">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
              </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3" data-aos="fade-up">
              <div>
                <img class="specialty-icon mb-4"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-3.png?raw=true"
                  alt="home-section2-3">
                <h3 class="text-2xl mb-2">安心售後服務</h3>
                <p class="text-left text-black fw-normal">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
              </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3" data-aos="fade-up">
              <div>
                <img class="specialty-icon mb-4"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-1.png?raw=true"
                  alt="home-section2-1">
                <h3 class="text-2xl mb-2">關於鏡片</h3>
                <p class="text-left text-black fw-normal">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <section class=" py-10 py-md-20">
        <div class="container text-center  text-secondary fw-bold text-5xl">
          <h2 class="text-24px text-md-5xl mb-6">經典系列鏡框</h2>
          <ul class="row gap-y-6 text-primary flex-col  items-center flex-lg-row">
            <li class="col-12  col-md-6 col-lg-4" data-aos="fade-up">
              <img class="img-fluid mb-2"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-1.png?raw=true"
                alt="home-section3-1">
              <h3 class="fw-black font-italic">OPTICAL</h3>
            </li>
            <li class="col-12 col-md-6 col-lg-4" data-aos="fade-up">
              <img class="img-fluid mb-2"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-2.png?raw=true"
                alt="home-section3-2">
              <h3 class="fw-black font-italic">SUNGLASSES</h3>
            </li>
            <li class="col-12 col-md-6 col-lg-4" data-aos="fade-up">
              <img class="img-fluid mb-2"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-3.png?raw=true"
                alt="home-section3-3">
              <h3 class="fw-black font-italic">FUNCTIONAL</h3>
            </li>

          </ul>
        </div>
      </section>

      <section class="relative  py-10 py-md-20">
        <picture>
          <source
            srcset="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true"
            media="(max-width: 576px)" />
          <source
            srcset="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true"
            media="(max-width: 768px)" />
          <img class="absolute z-0 top-0 left-0 w-full h-full object-cover"
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true"
            alt="index-bg">
        </picture>
        <div class="container text-center  text-white relative fw-bold text-5xl">
          <h2 class="text-24px text-md-5xl mb-6 mb-md-12">聯名設計鏡框</h2>
          <ul class="flex gap-y-6 text-center text-primary font-italic flex-col  flex-lg-row" data-aos="fade-up">
            <li>
              <picture>
                <source
                  srcset="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1-sm.png?raw=true"
                  media="(max-width: 576px)" />
                <img class="img-fluid"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1.png?raw=true"
                  alt="home-section4-1">
              </picture>
              <h3 class="py-2  bg-white">DOUBLE A+</h3>
            </li>
            <li>
              <picture>
                <source
                  srcset="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2-sm.png?raw=true"
                  media="(max-width: 576px)" />
                <img class="img-fluid"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2.png?raw=true"
                  alt="home-section4-2">
              </picture>
              <h3 class="py-2 bg-white">YOUTH</h3>
            </li>
          </ul>
        </div>
      </section>

      <section class=" py-10 py-md-20">
        <div class="container  text-secondary">
          <h2 class="text-24px text-md-5xl text-center fw-bold mb-6 mb-md-12">顧客推薦</h2>
          <div class="container">
            <ul class="row gap-y-6 text-black">
              <li class="col-12 col-md-6 col-lg-3" data-aos="fade-up">
                <div class="card-shadow h-full flex flex-col">
                  <img class="img-fluid w-full object-cover"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-1.png?raw=true"
                    alt="home-section5-1">
                  <div class="p-4 flex-auto flex flex-col">
                    <h3 class="fw-medium mb-2">Jessy</h3>
                    <p class="mb-18">眼鏡品質優良，下次還會想來這邊購買！</p>
                    <time class="text-sm text-gray-2 mt-auto">2021/06/20</time>
                  </div>
                </div>
              </li>
              <li class="col-12 col-md-6 col-lg-3" data-aos="fade-up">
                <div class="card-shadow h-full flex flex-col">
                  <img class="img-fluid w-full object-cover"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-2.png?raw=true"
                    alt="home-section5-2">
                  <div class="p-4 flex-auto flex flex-col">
                    <h3 class="fw-medium mb-2">凱倫</h3>
                    <p class="mb-18">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                    <time class="text-sm text-gray-2 mt-auto">2021/04/18</time>
                  </div>
                </div>
              </li>
              <li class="col-12 col-md-6 col-lg-3" data-aos="fade-up">
                <div class="card-shadow h-full flex flex-col">
                  <img class="img-fluid w-full object-cover"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-3.png?raw=true"
                    alt="home-section5-3">
                  <div class="p-4 flex-auto flex flex-col">
                    <h3 class="fw-medium mb-2">悠悠</h3>
                    <p class="mb-18">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                    <time class="text-sm text-gray-2 mt-auto">2020/12/25</time>
                  </div>
                </div>
              </li>
              <li class="col-12 col-md-6 col-lg-3" data-aos="fade-up">
                <div class="card-shadow h-full flex flex-col">
                  <img class="img-fluid w-full object-cover"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-4.png?raw=true"
                    alt="home-section5-4">
                  <div class="p-4 flex-auto flex flex-col">
                    <h3 class="fw-medium mb-2">Kyuan</h3>
                    <p class="mb-18">服務很好，品質沒有任何問題，非常喜歡。</p>
                    <time class="text-sm text-gray-2 mt-auto">2020/10/31</time>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="bg-gray-1  py-10 py-md-20">
        <div class="container">
          <h2 class="text-24px text-md-5xl text-center text-secondary fw-bold mb-6 mb-md-12">聯絡我們</h2>
          <form action="">
            <div class="row">
              <div class="col-12 col-md-10  offset-md-1 col-lg-6 offset-lg-3">
                <p class="text-xl mb-6">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
                <div class="flex flex-col gap-4 mb-12">
                  <div class="flex flex-col gap-2">
                    <label for="name">姓名</label>
                    <input class="form_input" type="text" id="name" placeholder="陳小明">
                  </div>
                  <div class="flex flex-col gap-2">
                    <label for="tel">聯絡電話</label>
                    <input class="form_input" type="tel" id="tel" placeholder="0912-345-678">
                  </div>
                  <div class="flex flex-col gap-2">
                    <label for="email">電子郵件</label>
                    <input class="form_input" type="email" id="email" placeholder="example@email.com">
                  </div>
                  <div class="flex flex-col gap-2">
                    <label for="message">意見反應</label>
                    <textarea class="form_input" name="message" id="message" placeholder="請輸入您的意見"></textarea>
                  </div>
                  <div class="flex gap-1">
                    <input type="checkbox" name="check" id="check">
                    <label for="check">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6  offset-md-3 col-lg-4 offset-lg-4">
                <input class="btn btn--lg btn--primary w-full text-base fw-bold" type="submit" value="確認送出">
              </div>
            </div>
          </form>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>